<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выполнение услуг</title>
</head>


<head>
    <meta charset="UTF-8">
    <title>Отчет о выполненных услугах</title>
    <style>
        /* Стили для отчета */
        body {
            font-family: Arial, sans-serif;
        }

        pre {
            white-space: pre-wrap; /* Обработка переносов строк */
            font-size: 14px;
            margin: 20px 0;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h1>Отчет о выполненных услугах</h1>
<pre>{{ message }}</pre>

<form action="/" method="get" style="display: inline;">
    <button type="submit" class="nav-button">
        На главную
    </button>
</form>

</body>
</html>