<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <div class="menu">
        <h1>Hotel Management</h1>
        <ul>
            <li><a href="/rooms">Add and show rooms</a></li>
            <li><a href="/book-available-rooms">Book and show available rooms</a></li>
            <li><a href="/finish-bookings">Finish and show all bookings</a></li>
        </ul>
        <ul>
            <li><a href="/workers">Add and show workers</a></li>
            <li><a href="/fire-off-workers">Show and fire-off unemployed workers</a></li>
            <li><a href="/service-and-visitors">Services and visitors</a></li>
        </ul>
    </div>
</body>
</html>