<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tv turned on</title>
    <style>
        .second-image {
            position: absolute;
            top: 232.5px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
   <a class="p-2 text-dark" href="/">Turn TV off</a>
   <a class="p-2 text-dark" href="/turnedOn/graphicInfo">Show graphical info</a>
   <a class="p-2 text-dark" href="/turnedOn/changeGraphicInfo">Change graphical info</a>
   <a class="p-2 text-dark" href="/turnedOn/soundLevel">Show sound level</a>
   <a class="p-2 text-dark" href="/turnedOn/newSoundLevel">Change sound level</a>
   <a class="p-2 text-dark" href="/turnedOn/newTvInfo">Update software</a>
   <br>
   <a class="p-2 text-dark" href="/turnedOn/entertainment">Entertainment channel</a>
   <br>
   <a class="p-2 text-dark" href="/turnedOn/sports">Sports channel</a>
    <br>
   <a class="p-2 text-dark" href="/turnedOn/culinary">Culinary channel</a>
   <br>
   <a class="p-2 text-dark" href="/turnedOn/childrens">Children channel</a>
   <div style="margin-left: 10px;">
      <h1 align="center">МОДЕЛЬ ТЕЛЕВИЗОРА</h1>
   </div>
   <p style="text-align: center;">
  	<img src="https://img.freepik.com/premium-photo/white-screen-led-tv-television-isolated-white-background_293060-6191.jpg" width="630" height="355">
   </p>
   <p class="second-image">
       <img src="https://i.ibb.co/9W4wxgZ/noImage.jpg" width="450" height="200">
   </p>
   <p style="text-align: right;">
       <img src="https://www.aknet.kg/files/pictures/Tv_controler.png" width="170" height="181" vspace="0" hspace="250">
   </p>
</body>
</html>
