<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Television Data</title>
</head>
<body>
    <h1>Television Data</h1>
    <ul>
        {% for tv_info in tv_data %}
            <li>Model: {{ tv_info[0] }}, Price: {{ tv_info[1] }}, Color: {{ tv_info[2] }}</li>
            <li>Operation System: {{ tv_info[3] }}, Software Version: {{ tv_info[4] }}</li>
        {% endfor %}
    </ul>
</body>
</html>