<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TV Model</title>
</head>
<body>
   <audio src="URL"></audio>
   <a class="p-2 text-dark" href="/turnedOn">Turn TV on</a>
   <a class="p-2 text-dark" href="/tvInfo">Show TV info</a>
   <a class="p-2 text-dark" href="/controleInfo">Show Remote Controle info</a>
   <a class="p-2 text-dark" href="/technicalInfo">Show Technical info</a>
   <h1 align="center">МОДЕЛЬ ТЕЛЕВИЗОРА</h1>
   <p style="text-align: center;">
  	<img src="https://img.freepik.com/premium-photo/white-screen-led-tv-television-isolated-white-background_293060-6191.jpg" width="640" height="360">
</p>
   <p style="text-align: right;">
  	<img src="https://www.aknet.kg/files/pictures/Tv_controler.png" width="170" height="181" vspace="0" hspace="250">
</p>
</body>
</html>