body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.menu-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #c6f4d6;
    border: 1px solid #8bc34a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    margin: 10px;
}

.menu-button {
    background-color: #8bc34a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #4CAF50;
}

.current-region {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-top: 20px;
}

.region-curtain {
    margin-top: 10px;
    padding: 10px;
    background-color: #c6f4d6;
    border: 1px solid #8bc34a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #c6f4d6;
    cursor: pointer;
}

select:hover {
    background-color: #4CAF50;
}
